.parallax {
    background-image: url("welcome.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-light-blue {
    height:500px;
    background-color:#44b6d1;
    font-size:36px;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

.text-purple {
    height:800px;
    background-color: #C6bde9;
    font-size:36px;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

.text-orange {
    height:800px;
    background-color: #f7a35c;
    font-size:36px;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

.topics {
    height:300px;
    background-color:lightgreen;
    font-size:36px;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

.code-margins {
    margin: 100px;
}

.contact-margins {
    margin: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }